<!--<form action ="ok/">
	drop option:<input type="text" name="dropper">
	 {{ form.as_p }}
    <input type="submit" value="Create" />






	<button type="submit">SUBMIT</button>
</form>   -->


<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>DROPPER</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>DROPPER</h1>
    <form action="ama">
       <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Select your breakfast type</label>
             <select name="breakfast">
             	<option selected="selected" disabled>Objects on page:</option>
               <option value = "1">LIGHT MEAL</option>
               <option value = "2">MEDIUM MEAL</option>
               <option value = "3">HEAVY MEAL</option>
             </select><br><br>
             <label>Select your lunch type</label>
             <select name="lunch">
             	<option selected="selected" disabled>Objects on page:</option>
               <option value = "1">LIGHT MEAL</option>
               <option value = "2">MEDIUM MEAL</option>
               <option value = "3">HEAVY MEAL</option>
             </select><br><br>
             <label>Select your snack type</label>
             <select name="snack">
             	<option selected="selected" disabled>Objects on page:</option>
               <option value = "1">LIGHT MEAL</option>
               <option value = "2">MEDIUM MEAL</option>
               <option value = "3">HEAVY MEAL</option>
             </select><br><br>
             <label>Select your dinner type</label>
             <select name="dinne">
             	<option selected="selected" disabled>Objects on page:</option>
               <option value = "1">LIGHT MEAL</option>
               <option value = "2">MEDIUM MEAL</option>
               <option value = "3">HEAVY MEAL</option>
             </select><br><br>
             <input type="submit" value="Select">
          </p>
       </fieldset>
    </form>
  </body>
</html>